### The following  has been created for CIP4 framemaker GIT repositories

# Ignore any project directories created 'in situ' by any build process
#build/

# Ignore files created by framemaker from source files
*.lck
*.backup.fm
*.backup.book

# Ignore stupid Windoze files that are notionally hidden
desktop.ini
thumbs.db
FrameMaker/Template_V5_JDF1x.recover.fm
FrameMaker/Template_V5.recover.fm
