body .c { color: #8d8d8d; font-style: italic } /* Comment */
body .na { color: #FF0000; font-weight: bold; } /* Name.Attribute */
body .nt { color: #800000; font-weight: bold } /* Name.Tag */
body .s { color: #0000FF } /* Literal.String */